<div class="user-details">
	
	<div class="user-profile-image-container">
		<% if @user.has_image? %>
			<%= image_tag(@user.images.first.file(:profile), class: "user-profile-image") %>
		<% else %>
			<%= image_tag("default_user_image.png", size: "200", class: "user-profile-image") %>
		<% end %>
	</div>

	<h1><%= @user.username %></h1>
	<h2><%= @user.email %></h2>
	<h3><%= "#{@user.first_name}  #{@user.last_name}"%></h3>
	<%= form_for(@image, url: user_images_path(current_user), html: { multipart: true }) do |form| %>
		<div class="field">
			<%= form.label :file %> <i>(choose an image)</i><br />
			<%= form.file_field :file %> <br />
		</div>
		<div class="actions">
			<%= form.submit "Upload" %>
		</div>
	<% end %>
</div>

<div class="user-friends">Friends
	<% @user.friends.each do |friend| %>
		<% if friend.has_image? %>
			<%= image_tag(friend.images.first.file(:thumbnail), class: "user-profile-image") %>
		<% else %>
			<%= image_tag("default_user_image.png", size: "50", class: "user-profile-image") %>
		<% end %>
		<span><%= friend.email %></span>
		<%= link_to "Remove Friend", user_friendship_delete_path(current_user,friend) %>
	<% end %>	
</div>

<script>
	$( $('#friend-requests-container').hide() );

	$('#friend-requests-link').click(function(event) {
		event.preventDefault();
		$('#friend-requests-container').toggle();
	});
</script>