<div class="col-sm-4">
	<span class="pull-left">
 		<% if @user.has_image? %>
 			<%= image_tag(@user.images.first.file(:profile), class: "user-profile-image") %>
 		<% else %>
 			<%= image_tag("default_user_image.png", size: "200", class: "user-profile-image") %>
 		<% end %>
		<% if current_user == @user %>
			<h1><%= link_to "Edit profile", edit_user_registration_path%></h1>
		<% end %>
 			<h3><%= @user.username %></h3>
 		<% if @user == current_user %>
 			<a href="" id="upload-image-link">Upload an image?</a>
 			<div id="upload-image-form-container">
 				<%= form_for(@image, url: user_images_path(current_user), html: { multipart: true }) do |form| %>
 					<div class="field">
 						<%= form.label :file %> <i>(choose an image)</i><br />
 						<%= form.file_field :file %> <br />
 					</div>
 					<div class="actions">
 						<%= form.submit "Upload" %>
 					</div>
 					<% end %>
 			</div>
 		<% end %>
	</span>
</div>

 <div class="col-sm-4">
	 <span class="pull-left">
	 	<% if current_user == @user %>
	 		<h1> Recent Activity: </h1>
	  		<% current_user.posts.reverse.each do |post| %>
	 	 			<div id="post_<%= post.id %>" class="text-center">
						<h2><%= link_to post.text, post_path(post) %></h2>
	 							<%= link_to post_path(post) do %>
	 								<% if post.image.exists? %>
	 									<p><%= image_tag post.image.url(:medium) %></p>
	 								<% end %>
	 							<% end %>
							<a href="/users/<%= post.user.id %>/show"><%= post.user.first_name %> <%= post.user.last_name %></a><br>
	 						<span><%= post.created_at.strftime("%d %b %Y %H:%M") %></span>
	 					</div>
	 				<% end %>
	 	<% else %>
	 				Posts submitted by the user: </h1>
	 		 			<% @user.posts.reverse.each do |post| %>
	 			 			<div id="post_<%= post.id %>" class="text-center">
								<h2><%= link_to post.text, post_path(post) %></h2>
	 						 		<%= link_to post_path(post) do %>
	 							 <% if post.image.exists? %>
	 								 <p><%= image_tag post.image.url(:medium) %></p>
	 							 <% end %>
	 						 <% end %>
							 <a href="/users/<%= post.user.id %>/show"><%= post.user.first_name %> <%= post.user.last_name %></a><br>
	 					 	 <span><%= post.created_at.strftime("%d %b %Y %H:%M") %></span>
	 				 		 </div>
	 		 		 <% end %>
	 		<% end %>
	</span>
</div>


 <div class="col-sm-4">
	 <% if current_user %>
			 <div class="signed-in-header col-lg-12">
				<ul class="nav navbar-nav">
					<li class="add-friend">
						<%= form_tag(user_friendships_path(current_user), :class => "add-friend-form") do %>
							<div class="field">
								<%= label_tag  :friend_email, "Friends Email" %></i><br />
								<%= email_field_tag :friend_email, nil, :placeholder => "Enter friends email", :required => true  %> <br />
							</div>
							<div class="actions">
								<%= submit_tag "Add Friend" %>
							</div>
						<% end %>
					</li>
				</ul>
			</div>
		<% end %>
		<span class="pull-right">
		 <div class="extras-div div-inline col-lg-3">
			 <% @user.friends.each do |friend| %>
				 <% time = Time.new %>
				 <div class="user-friend-container col-xs-6 col-lg-4 text-center">
					 <% if friend.has_image? %>
						 <%= image_tag(friend.images.first.file(:thumbnail), class: "user-profile-image col-md-12") %>
					 <% else %>
						 <%= image_tag("default_user_image.png", size: "50", class: "user-profile-image col-md-12") %>
					 <% end %>
					 <span><%= link_to "#{friend.full_name}", user_profile_path(friend) %></span>
					 <% if friend.last_seen > (time - 300) %>
						 <span class="online-symbol"></span>
					 <% else %>
						 <span class="offline-symbol"></span>
					 <% end %>
					 <%= link_to "Remove Friend", user_friendship_delete_path(current_user,friend) if @user == current_user %>
				 </div>
			 <% end %>
		 </div>
	 </span>
	</div>>

<script>
	$( function() {
		$(' #upload-image-form-container').hide();
	});

	$('#upload-image-link').click(function(event) {
		event.preventDefault();
		$('#upload-image-form-container').toggle();
	});

	$('#file-field').change(function() {
		$('#upload-image-button').prop('disabled', false);
	});
</script>
