<body class="signup-bg">
	
<div class="flip-container">
	<div id="side-1" class="flip">
		<div id="user-form">
			<h2>Sign up as User</h2>
			<%= form_for User.new, as: :user, :url => registration_path(:user) do |f| %>
			<div class="field">
	    	<%= f.label :first_name %><br />
	    	<%= f.text_field :first_name, autofocus: true %>
	  	</div>
	  	<div class="field">
	    	<%= f.label :last_name %><br />
	    	<%= f.text_field :last_name %>
	  	</div>
	  	<div class="field">
	    	<%= f.label :username %><br />
	    	<%= f.text_field :username %>
	  	</div>
	  	<div class="field">
	    	<%= f.label :email %><br />
	    	<%= f.email_field :email %>
	  	</div>
	  	<div class="field">
	    	<%= f.label :password %>
	    	<% if @minimum_password_length %>
	    	<em>(<%= @minimum_password_length %> characters minimum)</em>
	    	<% end %><br />
	    	<%= f.password_field :password, autocomplete: "off" %>
	  	</div>
	  	<div class="field">
	    	<%= f.label :password_confirmation %><br />
	    	<%= f.password_field :password_confirmation, autocomplete: "off" %>
	  	</div>
	  	<div class="actions">
	    	<%= f.submit "Sign up" %>
	  	</div>
			<% end %>
			<p><a id="signup" href="#">OR sign up as a SELLER??</a><p>
		</div>
	</div>
	<div id="side-2" class="flip">
		<div id="seller-form">
			<h2>Sign up as Seller</h2>
			<%= form_for Seller.new, as: :seller, :url => registration_path(:seller) do |f| %>
			<div class="field">
				<%= f.label :shop_name %><br />
				<%= f.text_field :shop_name, autofocus: true %>
			</div>
			<div class="field">
				<%= f.label :first_name %><br />
				<%= f.text_field :first_name, autofocus: true %>
			</div>
			<div class="field">
				<%= f.label :last_name %><br />
				<%= f.text_field :last_name %>
			</div>
			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email %>
			</div>
			<div class="field">
				<%= f.label :password %>
				<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
				<% end %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>
			<div class="field">
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>
			<div class="actions">
				<%= f.submit "Sign up" %>
			</div>
			<% end %>
			<a id="create" href="#">OR sign up as a USER??</a>
		</div>
	</div>
</div>

<script>
document.getElementById( 'signup' ).addEventListener( 'click', function( event ) {

    event.preventDefault();
    document.getElementById( 'side-2' ).className = 'flip flip-side-1';
    document.getElementById( 'side-1' ).className = 'flip flip-side-2';

}, false );

document.getElementById( 'create' ).addEventListener( 'click', function( event ) {

    event.preventDefault();
    document.getElementById( 'side-2' ).className = 'flip';
    document.getElementById( 'side-1' ).className = 'flip';

}, false );

</script>
