<div class="signup_container">
	<div class="col-md-6">
		<div id="logbox">
			<h1>Sign up as User</h1>
			<div id="user-form">
				<%= form_for User.new, as: :user, :url => registration_path(:user) do |f| %>
				<div class="field">
					<%= f.label :first_name %><br />
					<%= f.text_field :first_name, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :last_name %><br />
					<%= f.text_field :last_name %>
				</div>
				<div class="field">
					<%= f.label :username %><br />
					<%= f.text_field :username %>
				</div>
				<div class="field">
					<%= f.label :email %><br />
					<%= f.email_field :email %>
				</div>
				<div class="field">
					<%= f.label :password %>
					<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
					<% end %><br />
					<%= f.password_field :password, autocomplete: "off" %>
				</div>
				<div class="field">
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div>
				<div class="actions">
					<%= f.submit "Sign up" %>
				</div>
				<% end %>
			</div>
			<div class="text-center">
				already have an account? <%= link_to "Sign in", sign_in_path %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div id="logbox">
			<h1>Sign up as Seller</h1>
			<div id="seller-form">
				<%= form_for Seller.new, as: :seller, :url => registration_path(:seller) do |f| %>
				<div class="field">
					<%= f.label :shop_name %><br />
					<%= f.text_field :shop_name, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :first_name %><br />
					<%= f.text_field :first_name, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :last_name %><br />
					<%= f.text_field :last_name %>
				</div>
				<div class="field">
					<%= f.label :email %><br />
					<%= f.email_field :email %>
				</div>
				<div class="field">
					<%= f.label :password %>
					<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
					<% end %><br />
					<%= f.password_field :password, autocomplete: "off" %>
				</div>
				<div class="field">
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div>
				<div class="actions">
					<%= f.submit "Sign up" %>
				</div>
				<% end %>
			</div>
			<div class="text-center">
				already have an account? <%= link_to "Sign in", sign_in_path %>
			</div>
		</div>
	</div>
</div>
