<div id="comment">
  <a href="/users/<%= comment.user.id %>/show"><%= comment.user.first_name %> <%= comment.user.last_name %></a>
  <%= comment.text %>
<% if comment.user == current_user %>
  <div class="dropdown div-inline">
    <button class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown">...</button>
    <ul class="dropdown-menu">
      <li><%= link_to "Delete", comment_path(comment), method: :delete %></li>
      <li><%= link_to "Edit Comment", edit_comment_url(comment) %></li>
    </ul>
  </div>
<% end %>
</div>
