<div id="comment">
<p>
  <a href="/users/<%= comment.user.id %>/show"><%= comment.user.first_name %> <%= comment.user.last_name %></a>
  <%= comment.text %>
</p>
<% if comment.user == current_user %>
  <%= link_to "Edit Comment", edit_comment_url(comment) %> |
  <%= link_to "Delete", comment_path(comment), method: :delete %>
<% end %>
</div>
