<div id="comment">
<p>
  <a href="/users/<%= comment.user.id %>/show"><%= comment.user.first_name %> <%= comment.user.last_name %></a>
  <%= comment.text %>
</p>
<%= link_to "Edit", edit_comment_url(comment) %> |
<%= link_to "Delete", comment_path(comment), method: :delete %>
</div>
