<div id="comment">
  <a href="/users/<%= comment.user.id %>/show"><%= comment.user.first_name %> <%= comment.user.last_name %></a>
    <%= comment.text %> <br>
    <span class="comment_time">
      <%= comment.created_at.strftime("%d %b %Y %H:%M") %>
    </span>
    <% if comment.user == current_user %>
      <%= link_to edit_comment_path(comment) do %>
        <span class="glyphicon glyphicon-pencil gi-2x" data-toggle="popover" data-trigger="hover" data-content="Edit"></span>
        <% end %>
        <%= link_to comment_path(comment), method: :delete do %>
        <span class="glyphicon glyphicon-trash gi-2x" data-toggle="popover" data-trigger="hover" data-content="Delete"></span>
        <% end %>
    <% end %>
</div>
