<%= form_for @payment, as: :product, :url => seller_product_new_payment_path(@product.seller, @product) do |f| %>
  <div class="field">
    <%= f.hidden_field :product_id, value: @product.id %>
  </div>

  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>

  <div class="actions">
    <%= f.submit "Pay", :src => "https://checkout.stripe.com/checkout.js", :data => {amount: @product.price, description: @product.product_name, key: Rails.application.secrets.stripe_publishable_key} %>
  </div>
<% end %>
