<% if @posts.any? %>
  <% @posts.reverse.each do |post| %>
    <div id="post_<%= post.id %>">
      <div class ="newsfeed">
        <div class="well">
          <% if post.user.has_image? %>
            <div class="profile_pic"><%= image_tag post.user.images.first.file(:profile), class: "img-thumbnail", alt: "Cinque Terre", width: "50", height: "50" %></div>
          <% else %>
            <div class ="profile_pic"><%= image_tag "default_user_image.png",class: "img-thumbnail", alt: "Cinque Terre", width: "50", height: "50" %></div>
          <% end %>
        <div class="name_and_time">
          <a href="/users/<%= post.user.id %>/show"><%= post.user.first_name %> <%= post.user.last_name %></a><br>
          <span><%= post.created_at.strftime("%d %b %Y %H:%M") %></span>
        </div><br />
        <% if !post.image.exists? %>
          <h4> <%= post.text %> </h4>
        <% else %>
          <h4> <%= link_to post.text, post_path(post) %> </h4>
          <%= link_to post_path(post) do %>
            <p><%= image_tag post.image.url(:medium) %></p>
          <% end %>
        <% end %>
        <% if @user %>
          <% if current_user.voted_up_on?(post) %>
            <%= link_to "Unlike", dislike_post_path(post), method: :put %>
          <% else %>
            <%= link_to "Like", like_post_path(post), method: :put %>
          <% end %>
          | <span class="glyphicon glyphicon-thumbs-up"></span>
        <%= "#{post.get_upvotes.size} " %>
        <div class="edit_and_delete_posts">
          <div class="dropdown div-inline">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Post", edit_post_url(post) %></li>
              <li><%= link_to "Delete Post", post_path(post), method: :delete %></li>
            </ul>
          </div>
        </div>
          <div class='homepage_comments'>
            <%= render post.comments %>
          </div>
          <% if current_user %>
            <%= form_for [post, post.comments.new ], remote: true do |f| %>
              <%= f.text_area :text, placeholder: 'Add a comment' %>
              <%= f.submit 'Comment' %>
              <% end %>
          <% else%>
            <p>You need to <%= link_to "sign in", new_user_session_path %> to comment</p>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
    No posts have been added!
<% end %>

<p><%= link_to "Create a post", new_post_path %></p>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
