<% if @posts.any? %>
  <% @posts.each do |post| %>
    <% if post.image_file_name.nil? %>
      <h2> <%= link_to post.text, post_path(post) %> </h2>
    <% else %>
      <h2> <%= link_to post.text, post_path(post) %> </h2>
      <%= link_to post_path(post) do %>
        <p><%= image_tag post.image.url(:medium) %></p>
        <% end %>
    <% end %>
    <% if @user %>
        <% if current_user.voted_up_on?(post) %>
          <%= link_to "Like", dislike_post_path(post), method: :put %>
        <% else %>
          <%= link_to "Like", like_post_path(post), method: :put %>
        <% end %>
    <% end %>
    <%= "Likes: #{post.get_upvotes.size}" %>
  <% if post.user == current_user %>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", post_path(post), method: :delete %>
  <% end %>
    <div id='comments_div'>
      <%= render post.comments %>
    </div>
    <% if current_user %>
      <%= form_for [post, post.comments.new ], remote: true do |f| %>
       <%= f.text_area :text, placeholder: 'Add a comment' %>
       <%= f.submit 'Comment' %>
      <% end %>
    <% else%>
      <p>You need to <%= link_to "sign in", new_user_session_path %> to comment</p>
    <% end %>
  <% end %>
<% else %>
  No posts have been added!
<% end %>
<p><a href='posts/new'>Create a post</a></p>
