<!DOCTYPE html>
<html>
  <head>
    <title>CrowdMarket</title>
    <%= csrf_meta_tags %>
    <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
       <%= link_to "CrowdMarket", '/', id: "logo" %>
       <nav>
         <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "Home", '/'   %></li>
           <% if current_user %>
            <li><%= link_to "Profile", user_profile_url(current_user.id) %></li>
         		<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_url %></li>
            <li><%= link_to "Sign up", new_user_registration_url %></li>
         	<% end %>
         </ul>
       </nav>
     </div>
    </header>
    
    <% if current_user %>
      <header class="signed-in-header">
        <div class="container">
          <ul class="nav navbar-nav navbar-right">
            <li class="add-friend">
              <%= form_tag(user_friendships_path(current_user)) do %>
                <div class="field">
                  <%= label_tag  :friend_email, "Friends Email" %></i><br />
                  <%= email_field_tag :friend_email, nil, :placeholder => "Enter friends email", :required => true  %> <br />
                </div>
                <div class="actions">
                  <%= submit_tag "Add Friend" %>
                </div>
              <% end %>
            </li>
            <li>
              <a id="friend-requests-link" href = "#">Friend Requests <% if @user.friend_requests.count > 0 %><span class = "badge"><%= @user.friend_requests.count %></span><% end %></a>
              <div id="friend-requests-container">
                <% @user.friend_requests.each do |user| %>
                  <% if user.has_image? %>
                    <%= image_tag(user.images.first.file(:thumbnail)) %>
                  <% else %>
                    <%= image_tag("default_user_image.png", size: "50") %>
                  <% end %>
                  <span><%= user.email %></span>
                  <%= link_to "Accept Request", user_friendship_accept_path(current_user,user) %>
                  <%= link_to "Reject Request", user_friendship_reject_path(current_user,user) %>
                <% end %>
              </div>
            </li>            
          </ul>
        </div>
      </header>
    <% end %>

    <div class="container">
      <%= notice %>
      <%= yield %>
    </div>

  </body>
</html>
