<!DOCTYPE html>
<html>
  <head>
    <title>CrowdMarket</title>
    <%= csrf_meta_tags %>
    <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
       <%= link_to "CrowdMarket", '/', id: "logo" %>
       <nav>
         <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", '/'   %></li>
          <% if current_user || current_seller %>
            <% if current_user %>
              <li><%= link_to "Profile", user_profile_path(current_user) %></li>
            <% elsif current_seller %>
              <li><%= link_to "Profile", seller_profile_path(current_seller) %></li>
            <% end %>
         		<% if current_user %>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% elsif current_seller %>
              <li><%= link_to "Sign out", destroy_session_path(current_seller), method: :delete %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign in", sign_in_path %></li>
            <li><%= link_to "Sign up", new_user_registration_url %></li>
         	<% end %>
         </ul>
       </nav>
     </div>
    </header>
    <div class="container">
      <%= notice %>
      <%= yield %>
    </div>
  </body>
</html>
