<!DOCTYPE html>
<html>
  <head>
    <title>CrowdMarket</title>
    <%= csrf_meta_tags %>
    <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<% if current_user %>
  		<div class="sign-out">
  			<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  		</div>
  	<% end %>
    <%= notice %>
    <%= yield %>
  </body>
</html>
